
.jumbotron {
    background-image: url("../Assets/pizza.png")
}


.jumbotron h1 {
    background-color: white;
    opacity: 0.5;
    width: 100%;
    text-align: center;
}
.blue {
    color: white;
    background-color: dodgerblue;
}