* {
    box-sizing: border-box;
}

nav {
    display: flex;
    width: 100%;
    border: lightgrey solid 1px;
    background-color: gray;
}

a {
    display: inline-block;
    text-decoration: none;
    margin: auto 6px;
    padding: 6px;
}

a:hover {
    color: blue;
    text-decoration: none;
    background-color: rgba(0, 0, 255, 0.2);

}

a:visited {
    color: black;
}

.nav_section {
    font-size: small;
    font-family: 'Monsterrat', sans-serif;
    font-weight: bold;
    width: 25%;
    display: flex;
    align-items: center;
}





.logo {
    font-size: 3em;
    padding: 0 .2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.socials {
    font-size: small;
    font-family: 'Monsterrat', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
}


